//all cskt stylesheets

// Module files - mixin declarations, functions, and variables
@import "modules/cskt_variables";

// partial files - specific categories of things, menus, buttons, etc


// vendor files - 3rd party styles
@import "vendors/accordionmenu";

// changes to vendor files
// facebook like div (with comments popup)
.cskt-fb-like {
  padding-right: 5px;
  bottom: 6px;
  span {
    overflow: visible!important;
    width: 450px!important;
    z-index: 10;
  }
}
// facebook like iframe (without comments popup)
.facebook-like-button {
  margin-bottom: 0px;
  padding-right: 3px;
}
// facebook share div
.cskt-fb-share {
  bottom: 6px;
  padding-right: 3px;
  z-index: 9;
}
// twitter follow iframe
.twitter-follow-button {
  margin-bottom: 0px;
  padding-right: 5px;
}
// twitter tweet iframe
.twitter-tweet-button {
  margin-bottom: 0px;
  padding-right: 5px;
}