//colors
$white: #ffffff;

$cskt_blue: #00AEEF;
$cskt_blue_hover: #26BAF1;
$cskt_blue_down: #069AD2;
$cskt_grey: #CCCCCC;
$cskt_border_grey: #999999;

$color_lochmara_approx: #1682ba;
$black_35: rgba(0, 0, 0, 0.35);
$color_picton_blue_approx: #36aae7;
$color_curious_blue_approx: #1fa0e4;
$white_15: rgba(255, 255, 255, 0.15);
$color_gallery_approx: #eeeeee;
$black_15: rgba(0, 0, 0, 0.15);
$color_tuna_approx: #32373e;
$color_trout_approx: #49505a;
$white_10: rgba(255, 255, 255, 0.1);
$color_mako_approx: #424852;

//fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: sans-serif;